@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
h1{
  color:white;
  font-family: 'Gemunu Libre', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Oswald', sans-serif;
}
.navbar-brand {
  font-family: 'Oswald', sans-serif;
}
body {
    background-image: url('https://i.pinimg.com/736x/aa/9d/6e/aa9d6e245a6a41ccc989cd11377f08b4--the-road-matrix.jpg');
/*      background-image: url('https://wallpaperaccess.com/full/249743.png'); */
  }
  #outputDiv {
    display: none;
  }

  .row {
    color: white;
  }
.box{
  border:3px solif #fff;
  padding: 20px;
  color:white;
}
h5{
  float: right;
  font-weight: bold;
  font-size:20px;
  color:red;
}
.card-header{
  color: black; 
  
}
