@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
h1{
  color:red;
}

h3 {
  font-family: 'Oswald', sans-serif;
}
.navbar-brand {
  font-family: 'Oswald', sans-serif;
}
body {
    background-image: url('https://img.freepik.com/premium-vector/modern-technology-circuit-board-texture-background-design-waves-flow-quantum-explosion-technology-quantum-computer-technologies-concepts-futuristic-blue-circuit-board-background-vector-motherboard_230610-1034.jpg');
    
  }
  #outputDiv {
    display: none;
  }

  .row {
    color: white;
  }
.box{
  border:3px solif #fff;
  padding: 20px;
}
h5{
  float: right;
  font-weight: bold;
  font-size:20px;
  color:red;
}
